/* :root {
  --pri: #f8f4e1;
  --sec: #381c0a;
  --tri1: #feba17;
  --tri2: #74512d;
  --green: rgb(9, 138, 89);
  --blue: rgb(0, 191, 255);
  --black: black;
}

@font-face {
  font-family: aeonik;
  font-weight: 200;
  src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
  font-family: aeonik;
  font-weight: 700;
  src: url(./AeonikTRIAL-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--pri);
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
  font-family: aeonik;
  font-weight: 500;
  position: fixed;
}

/* nav{
    position:fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
} 

section.allElems {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  padding: 20px;
  margin-top: 15px;
}
.allElems header {
  height: 250px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 10px;
  background-image: url(https://images.unsplash.com/photo-1717361281130-f10a587180a2?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px;
}
header .header1 h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-bottom: 25px;
}
header .header1 h2 {
  font-size: 28px;
  font-weight: 500;
}

header .header1 h4 {
  font-size: 35px;
  font-weight: 500;
}
header .header2 h2 {
  font-size: 50px;
  font-weight: 700;
  opacity: 0.7;
  margin-bottom: 10px;
}
header .header2 h3 {
  font-size: 25px;
  font-weight: 500;
  opacity: 0.5;
}
header .header2 h4 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.allElems .allFeatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 40px;
  -ms-flex-pack: distribute;
  justify-content: space-around;

}

.elem {
  height: 300px;
  width: 255px;
  background-color: var(--tri1);

  border-radius: 10px;
  font-size: 20px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 5px var(--black);
  box-shadow: 0 1px 5px var(--black);
}

.elem img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.elem h2 {
  position: absolute;
  bottom: 4%;
  right: 5%;
  font-weight: 500;
  font-size: 20px;
}
.elem:active {
  scale: 0.97;
}

.fullElem {
  height: 100%;
  width: 100%;
  background-color: #381c0a;
  padding: 30px;
  display: none;
  position: absolute;
}

.back {
  position: absolute;
  right: 5%;
  background-color: red;
  border-radius: 10px;
  padding: 10px 11px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
  cursor: pointer;
}
.back:active {
  scale: 0.9;
}

.todo-list-fullpage h2 {
  font-size: 30px;
}
.todo-list-fullpage .todo-container {
  height: 80%;
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask {
  width: 33%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 20px;
}

.todo-list-fullpage .todo-container .allTask {
  width: 65%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 20px;
}

.todo-list-fullpage .todo-container .addTask form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 30px;
}
.todo-container .addTask form input#task-input {
  padding: 15px 20px;
  width: 100%;
  background-color: var(--pri);
  color: black;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
  border: none;
  margin-bottom: 20px;
}

.todo-container .addTask form textarea {
  padding: 15px 20px;
  width: 100%;
  background-color: var(--pri);
  color: black;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
  border: none;
  margin-bottom: 20px;
}

.todo-container .addTask form button {
  padding: 15px 20px;
  width: 100%;
  background-color: var(--tri1);
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  border: none;
  -webkit-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  transition: all ease 0.1s;
}

.todo-container .addTask form button:active {
  scale: 0.97;
}

.todo-list-fullpage .todo-container .allTask {
  width: 65%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 30px;
  overflow: auto;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: var(--pri);
  padding: 15px 25px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.task h5 {
  font-size: 25px;
  color: var(--sec);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 5px;
}

.task h5 span {
  font-size: 6px;
  background-color: red;
  color: var(--pri);
  padding: 4px 5px;
  border-radius: 50px;
  font-weight: 500;
  letter-spacing: 1px;
}
.task h5 span.true {
  opacity: 1;
}
.task h5 span.false {
  opacity: 0;
}

.task button {
  padding: 10px 15px;
  color: var(--pri);
  border-radius: 5px;
  background-color: green;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}

.mark-imp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 10px 0;
  margin-bottom: 20px;
  width: 100%;
  gap: 30px;
}

.mark-imp input {
  scale: 2;
}

.mark-imp input label {
  font-size: 20px;
}

.daily-planner-fullpage {

}
.daily-planner-fullpage h2 {
  font-size: 60px;
}
.daily-planner-fullpage .day-planner {
  background-color: var(--tri2);
  height: 90%;
  width: 100%;
  margin-top: 30px;
  border-radius: 10px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: auto;
}

.daily-planner-fullpage .day-planner .day-planner-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 49%;
  margin-bottom: 10px;
}
.day-planner .day-planner-time p {
  position: absolute;
  top: 5%;
  left: 0.5%;
  font-weight: 700;
}
.day-planner .day-planner-time input {
  padding: 20px 30px;
  width: 100%;
  border: none;
  background-color: var(--sec);
  border-radius: 10px;
  font-size: 27px;
  padding-top: 30px;
  outline: none;
}



.motivation-fullpage {
  position: relative;
}

.motivation-fullpage .motivation-container {
  width: 650px;
  background-color: var(--tri2);
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.motivation-fullpage .motivation-container::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 30px;
  scale: 1.15;
  -webkit-filter: blur(140px);
  filter: blur(140px);
  z-index: 8;
  background-color: var(--tri1);
}

.motivation-fullpage .motivation-container .motivation-wrapper {
  z-index: 10;
  position: absolute;
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  background-color: var(--tri1);
}

.motivation-wrapper .motivation-1 {
  background-color: var(--tri2);
  padding: 20px;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.motivation-wrapper .motivation-1 h2 {
  font-size: 20px;
  font-weight: 500;
}
.motivation-2 {
  padding: 10px;
  padding-top: 12px;
}

.motivation-2 h1 {
  font-size: 25px;
  font-weight: 500;
  color: var(--sec);
}

.motivation-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.motivation-3 h2 {
  background-color: var(--tri2);

  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
  font-size: 25px;
  font-weight: 700;
}

.motivation-container .motivation-wrapper img {
  position: absolute;
  top: 9%;
  right: 5%;
  opacity: 0.7;
}

.pomodoro-fullpage {

  position: relative;
}
.pomodoro-fullpage h2 {
  font-size: 50px;
}

.pomodoro-fullpage .pomo-timer {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.pomo-timer h1 {
  font-size: 100px;
}

.pomo-timer button {
  padding: 10px 20px;
  background-color: var(--tri2);
  font-size: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 6px;
  -webkit-box-shadow: 3px 3px 4px var(--black);
  box-shadow: 3px 3px 4px var(--black);
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
  font-weight: 700;
}
.pomo-timer button:active {
  -webkit-box-shadow: 0px 0px 2px var(--black);
  box-shadow: 0px 0px 2px var(--black);
}

.pomodoro-fullpage .session {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: var(--tri1);
  padding: 12px 20px;
  font-size: 20px;
  border-radius: 5px;
}

nav {
  height: 60px;
  width: 100%;
  padding: 30px 20px;
  margin-bottom: 25px;
}
.nav-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: var(--tri2);
  padding: 10px 25px;
  border-radius: 10px;
}
.nav-in h2 {
  font-size: 30px;
  font-weight: 700;
}
.theme {
  background-color: var(--pri);
  padding: 7px;
  border-radius: 50%;
  -webkit-transition: all ease 0.18s;
  -o-transition: all ease 0.18s;
  transition: all ease 0.18s;
}
.theme i {
  color: var(--sec);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.theme:active {
  scale: 0.7;
} */


/* ========================== */
/* ======== YOUR CSS ======== */
/* ========================== */

:root {
  --pri: #f8f4e1;
  --sec: #381c0a;
  --tri1: #feba17;
  --tri2: #74512d;
  --green: rgb(9, 138, 89);
  --blue: rgb(0, 191, 255);
  --black: black;
}

@font-face {
  font-family: aeonik;
  font-weight: 200;
  src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
  font-family: aeonik;
  font-weight: 700;
  src: url(./AeonikTRIAL-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--pri);
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
  font-family: aeonik;
  font-weight: 500;
  position: fixed;
}

section.allElems {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  padding: 20px;
  margin-top: 15px;
}
.allElems header {
  height: 250px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 10px;
  background-image: url(https://images.unsplash.com/photo-1717361281130-f10a587180a2?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

header .header1 h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 25px;
}
header .header1 h2 {
  font-size: 28px;
  font-weight: 500;
}

header .header1 h4 {
  font-size: 35px;
  font-weight: 500;
}
header .header2 h2 {
  font-size: 50px;
  font-weight: 700;
  opacity: 0.7;
  margin-bottom: 10px;
}
header .header2 h3 {
  font-size: 25px;
  font-weight: 500;
  opacity: 0.5;
}
header .header2 h4 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.allElems .allFeatures {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
  justify-content: space-around;
}

.elem {
  height: 300px;
  width: 255px;
  background-color: var(--tri1);
  border-radius: 10px;
  font-size: 20px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.3s;
  cursor: pointer;
  box-shadow: 0 1px 5px var(--black);
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.elem h2 {
  position: absolute;
  bottom: 4%;
  right: 5%;
  font-weight: 500;
  font-size: 20px;
}
.elem:active {
  scale: 0.97;
}

/* fullElem */
.fullElem {
  height: 100%;
  width: 100%;
  background-color: #381c0a;
  padding: 30px;
  display: none;
  position: absolute;
}

.back {
  position: absolute;
  right: 5%;
  background-color: red;
  border-radius: 10px;
  padding: 10px 11px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  transition: all ease 0.2s;
  cursor: pointer;
}
.back:active {
  scale: 0.9;
}

/* todo */
.todo-list-fullpage h2 {
  font-size: 30px;
}
.todo-list-fullpage .todo-container {
  height: 80%;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-container .addTask {
  width: 33%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 20px;
}
.todo-container .allTask {
  width: 65%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  overflow: auto;
}

/* tasks */
.task {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--pri);
  padding: 15px 25px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.task h5 {
  font-size: 25px;
  color: var(--sec);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.task h5 span {
  font-size: 6px;
  background-color: red;
  color: var(--pri);
  padding: 4px 5px;
  border-radius: 50px;
  font-weight: 500;
  letter-spacing: 1px;
}

.task button {
  padding: 10px 15px;
  color: var(--pri);
  border-radius: 5px;
  background-color: green;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}

/* daily planner */
.daily-planner-fullpage h2 {
  font-size: 60px;
}
.daily-planner-fullpage .day-planner {
  background-color: var(--tri2);
  height: 90%;
  width: 100%;
  margin-top: 30px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  overflow: auto;
}

.day-planner .day-planner-time {
  display: flex;
  align-items: center;
  position: relative;
  width: 49%;
  margin-bottom: 10px;
}
.day-planner .day-planner-time p {
  position: absolute;
  top: 5%;
  left: 0.5%;
  font-weight: 700;
}
.day-planner .day-planner-time input {
  padding: 20px 30px;
  width: 100%;
  border: none;
  background-color: var(--sec);
  border-radius: 10px;
  font-size: 27px;
  padding-top: 30px;
  outline: none;
}

/* motivation */
.motivation-fullpage {
  position: relative;
}
.motivation-fullpage .motivation-container {
  width: 650px;
  background-color: var(--tri2);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.motivation-container::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 30px;
  scale: 1.15;
  filter: blur(140px);
  z-index: 8;
  background-color: var(--tri1);
}

/* pomodoro */
.pomodoro-fullpage {
  position: relative;
}
.pomodoro-fullpage h2 {
  font-size: 50px;
}
.pomo-timer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.pomo-timer h1 {
  font-size: 100px;
}

.pomo-timer button {
  padding: 10px 20px;
  background-color: var(--tri2);
  font-size: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 6px;
  box-shadow: 3px 3px 4px var(--black);
  transition: all ease 0.2s;
  font-weight: 700;
}

.pomodoro-fullpage .session {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--tri1);
  padding: 12px 20px;
  font-size: 20px;
  border-radius: 5px;
}

/* navbar */
nav {
  height: 60px;
  width: 100%;
  padding: 30px 20px;
  margin-bottom: 25px;
}
.nav-in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--tri2);
  padding: 10px 25px;
  border-radius: 10px;
}
.nav-in h2 {
  font-size: 30px;
  font-weight: 700;
}
.theme {
  background-color: var(--pri);
  padding: 7px;
  border-radius: 50%;
  transition: all ease 0.18s;
}
.theme i {
  color: var(--sec);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.theme:active {
  scale: 0.7;
}

/* ========================================================== */
/* ================= RESPONSIVE START ======================== */
/* ========================================================== */

/* Tablets: 1024px */
@media (max-width: 1024px) {
  header .header1 h1 {
    font-size: 45px;
  }
  header .header2 h2 {
    font-size: 35px;
  }

  .motivation-container {
    width: 80%;
  }

  .pomo-timer h1 {
    font-size: 70px;
  }
}

/* Mobile large: 768px */
@media (max-width: 768px) {
  nav .nav-in h2 {
    font-size: 22px;
  }

  .allElems header {
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .elem {
    width: 45%;
    height: 220px;
  }

  .todo-container {
    flex-direction: column;
    gap: 20px;
  }
  .addTask, 
  .allTask {
    width: 100% !important;
    height: auto;
  }

  .day-planner-time {
    width: 100% !important;
  }

  .motivation-container {
    width: 90%;
  }

  .pomo-timer h1 {
    font-size: 55px;
  }
}

/* Mobile small: 480px */
@media (max-width: 480px) {
  nav .nav-in {
    padding: 10px 15px;
  }
  nav .nav-in h2 {
    font-size: 18px;
  }

  .elem {
    width: 100%;
    height: 200px;
  }

  header .header1 h1 {
    font-size: 35px;
  }
  header .header1 h2 {
    font-size: 20px;
  }

  .motivation-container {
    width: 95%;
  }

  .pomo-timer h1 {
    font-size: 45px;
  }
  .pomo-timer button {
    font-size: 16px;
    padding: 8px 15px;
  }
}
